.payment-success {
  max-width: 1000px;
  margin: 10px auto;
}
.payment-success h1 {
  text-align: center;
  margin: 20px auto;
  font-family: "Times New Roman", Times, serif;
}
.payment-success .order-items-header {
  font-size: 24px;
  text-align: center;
}
.payment-success .products {
  padding: 10px 10px;
  max-width: 700px;
  margin: 0 auto 100px auto;
}
.payment-success .products .product:hover {
  transform: scaleX(1.01);
}
.payment-success .products .product {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: all 400ms ease-in;
}
.payment-success .products .product:hover {
  background-color: #ddecee;
}
.payment-success .products .product img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.payment-success .products .product .desc {
  flex: 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.payment-success .products .product .desc p {
  font-weight: bold;
}
.payment-success .products .product .desc .product-footer {
  display: flex;
  justify-content: space-between;
}
.payment-success .products .product .desc .product-footer button {
  border: none;
  background-color: #f65528;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: all 400ms ease-in;
}
.payment-success .products .product .desc .product-footer button:hover {
  background-color: #ef3f0e;
  transform: scaleX(1.01);
}
.payment-success .products .product-footer .info {
  font-size: 14px;
  font-weight: bold;
}
.back-link {
  text-align: center;
  margin-bottom: 20px;
}
.back-link a {
  text-decoration: none;
}
