
.about.container {
  width: 100%;
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 5px;
}
.aboutus {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: antiquewhite;
  min-height: 290px; 
  padding: 0 20px; 
  box-sizing: border-box;
}

.aboutus p {
  font-size: 18px;
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 61px;
  margin-bottom: 20px;
  text-align: center;
}

.imgabout img {
  display: flex;
  border: 2px solid black;
  height: 333px;
  margin-right: 0px;
  width: 100%;
  margin-bottom: -4px;
}
.carousel .slide img {
  width: 100%;
  height: 550px;
}

@media screen and (max-width: 768px) {
  .about.container.about-container {
    width: 95%;
    max-width: none;
    margin: 0 auto;
    /* border: 2px solid black; */
  }
  .aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: antiquewhite;
    min-height: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 99%; 
  }

  .aboutus p {
    font-size: 14px;
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height:237px;
  }
  

  .imgabout img {
    display: flex;
    border: 2px solid black;
    height:  237px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: -4px;
  }
  .carousel .slide img {
    width: 100% !important;
    height: 350px !important;
  }
  
  .carousel .slider-wrapper {
    
    width: 95% !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .carousel .slider {
    width: 100% !important;
  }
  
  .carousel .slider .slide {
    width: 100% !important;
  }
}

/* mobile */
@media screen and (max-width:320px) {
  .about.container.about-container {
    width: 95%;
    max-width: none;
    margin: 0 auto;
    /* border: 2px solid black; */
  }
  .aboutus {
    display: flex;
    
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: antiquewhite;
    min-height: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 93%; 
  }

  .aboutus p {
    /* border: 2px solid red; */
    font-size: 13px;
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 0; 
    text-align: center;
    height:257px;
  }
  
  .imgabout {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .imgabout img {
    display: flex;
    border: 2px solid black;
    height:  166px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: -4px;
  }
  .carousel .slide img {
    width: 100% !important;
    height: 150px !important;
  }
  
  .carousel .slider-wrapper {
    
    width: 95% !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .carousel .slider {
    width: 100% !important;
  }
  
  .carousel .slider .slide {
    width: 100% !important;
  }
  .carousel .legend {
    background-color: black;
    color: white;
    width: 253px !important;
    height: 23px!important;
    padding-top: 7px !important;
    margin-bottom: -13px!important;
    
  }
  .abut {
    font-size: 15px;
    color: #333;
    /* text-align: center; */
  }
}

