.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
h2{
  color: #d8cfcf;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer .col {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 10px;
  float: left;
}

.footer .Appname h1 {
  width: 100%;
  padding-top: 25px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(243, 234, 234, 0.902);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .Appname h1{
    margin-left: -50px;
    font-size: 20px;
  }
  .footer .col {
    width: 33%;
    margin-left: 97px;
  }
  .footer .col h1 {
    font-size: 9px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
    margin-left: 0;
  }
  .footer .col.h1 {
    font-size: 10px;
  }
  .footer .col ul li {
    font-size: 7px;
  }
  .footer .col.social {
    width: 100%;
    margin-left: 0;
  }
  .footer .col.social ul {
    display: flex;
    justify-content: center;
    margin-left: -173px;
  }
  /* .footer .col.social ul li {

    display: inline-block;
    padding-right: 5px !important;
  }*/
  .footer .col.social ul li .MuiSvgIcon-root {
    font-size: 10px;
}
h2{
  margin-top: 2px;
  margin-right: 17px;
  color: rgba(243, 234, 234, 0.902);
  font-size: 9px;
}
}
